NESTJS_PORT=3000
LOGTO_PORT=3001
LOGTO_ADMIN_PORT=3002
MONGO_PORT=27017


MONGODB_URL=mongodb://blogadmin:aqpmwn@mongodb:27017/blog?authSource=admin
MONGO_USER=blogadmin
MONGO_PASSWORD=aqpmwn

LOGTO_BASE_URL=http://logto:3001
LOGTO_CLIENT_ID=k4wo7jw6vyaval7je77pc
LOGTO_SECRET=0aBTPAgLt3InEwjqVNQ0jYSNS7PcFelO
LOGTO_TAG=latest

LOGTO_ENDPOINT=http://localhost:3001
LOGTO_ADMIN_ENDPOINT=http://localhost:3002

POSTGRES_USER=postgres
POSTGRES_PASSWORD=p0stgr3s
POSTGRES_DB=logto

# mdpLogto = D2UrRh'}K83Y'S#
